<div class="eq-text"
     [ngClass]="setSize()"
     #eqText
     (click)="onEdit($event)"
     (focusout)="onFocusOut($event)"
>
  <mat-form-field [class.eq-text--view]="!isEditable()" >
    <mat-label *ngIf="title">{{ title }}</mat-label>
    <textarea
      #textarea
      matInput
      class="eq-text__textarea"
      [class.eq-text__textarea--focus]="isFocus()"
      [rows]="rows"
      [style.pointer-events]="!isEditable() ? 'none' : 'auto'"
      [disabled]="!isEditable()"
      [formControl]="value"
      [placeholder]="placeholder"
    ></textarea>
    <button
      #clearButton
      class="eq-text__clear"
      *ngIf="isEditable()"
      mat-icon-button
      matSuffix
      (click)="onClear($event)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-hint *ngIf="hint && !value.invalid">{{ hint }}</mat-hint>
    <mat-error *ngIf="value.invalid">
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <button
    [disabled]="value.invalid"
    [class.eq-string__check--invalid]="value.invalid"
    [style.pointer-events]="value.invalid ? 'none' : 'auto'"
    mat-icon-button
    *ngIf="isEditable()"
    class="eq-text__check"
    (click)="onSave($event)"
  >
    <mat-icon>check_small</mat-icon>
  </button>
</div>
