.wrapper {
  display: inline;
  vertical-align: baseline;
  width: max-content;
  height: 65px;
  max-height: 65px;
  overflow: hidden;
}

.eq-string {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  box-sizing: content-box;

  &__input {
    position: relative;
    transform-origin: bottom left;

    &--small {
      transform: scale(0.85);
    }

    &--medium {
      transform: scale(1);
    }

    &--large {
      transform: scale(1.15);
    }
  }

  &--view {
    padding-right: calc(24px + 32px + 32px);

    &::ng-deep .mat-form-field-underline {
      background: transparent;
    }
  }

  &__clear {
    position: relative;
    left: 4px;

    & mat-icon {
      line-height: 1;
    }
  }

  &__action {
    position: relative;
    bottom: 4px;
    width: 24px;
    height: 24px;
    display: block;
    margin: auto auto auto 8px;
    line-height: 1;

    & mat-icon {
      line-height: 1;
      font-size: 16px;
      width: 16px;
      height: 16px;
      color: white;
    }

    &__check {
      background-color: var(--mdc-theme-primary);

      &--invalid {
        background-color: rgba(137, 137, 137, 0.45);
      }
    }

    &__cancel {
      background-color: var(--mdc-theme-secondary);

      & mat-icon {
        font-size: 24px;
        width: 24px;
        height: 24px;
      }
    }
  }


}
