.wrapper {
  display: inline;
  vertical-align: baseline;
  width: max-content;
  height: 65px;
  max-height: 65px;
  overflow: hidden;
}

.eq-string {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  box-sizing: content-box;

  &--view {
    padding-right: calc(24px + 32px + 32px);
  }

  // remove dotted line on the input
  &--no-underline::ng-deep .mat-form-field-underline {
    background: transparent;
  }

  &__input {
    position: relative;
    transform-origin: bottom left;

    &--view {
      color: var(--mdc-theme-text-primary-on-background);
    }

    &--small {
      transform: scale(0.85);
    }

    &--medium {
      transform: scale(1);
    }

    &--large {
      transform: scale(1.2);
      box-sizing: border-box;
      padding-right: 20%;
    }
  }

  &__hint {
    overflow: hidden;
  }

  &__clear {
    position: relative;
    left: 4px;

    & mat-icon {
      line-height: 1;
    }
  }

  &__action {
    position: relative;
    bottom: 4px;
    width: 24px;
    height: 24px;
    display: block;
    margin: auto auto auto 8px;
    line-height: 1;

    & mat-icon {
      line-height: 1;
      font-size: 16px;
      width: 16px;
      height: 16px;
      color: white;
    }

    &__check {
      background-color: var(--mdc-theme-primary);

      &--invalid {
        background-color: rgba(137, 137, 137, 0.45);
      }
    }

    &__cancel {
      bottom: 7px;
      background-color: transparent;
      margin-right: 4px;
      margin-left: 4px;

      & mat-icon {
        font-size: 30px;
        width: 30px;
        height: 30px;
        color: var(--mdc-theme-secondary);
      }
    }
  }
}
