<div class="eq-string"
     (click)="onEdit($event)"
     (focusout)="onFocusOut($event)"
     #eqString
>
  <mat-form-field [class.eq-string--view]="!isEditable()">
    <mat-label *ngIf="title">{{ title }}</mat-label>
    <input
      #input
      [class.pointer-event-none]="!isEditable()"
      [disabled]="!isEditable()"
      matInput
      [formControl]="value"
      [placeholder]="placeholder"
    />
    <button
      #clearButton
      class="eq-string__clear"
      *ngIf="isEditable()"
      mat-icon-button
      matSuffix
      (click)="onClear($event)"
    >
      <mat-icon>close</mat-icon>
    </button>
    <mat-error *ngIf="value.invalid">
      {{ getErrorMessage() }}
    </mat-error>
  </mat-form-field>
  <button
    [disabled]="value.invalid"
    [class.eq-string__check--invalid]="value.invalid"
    [class.pointer-event-none]="value.invalid"
    mat-icon-button
    *ngIf="isEditable()"
    (click)="onSave($event)"
    class="eq-string__check"
  >
    <mat-icon>check_small</mat-icon>
  </button>
</div>
