<div
    #eqM2o
    class="eq-m2o"
    [class.view]="mode == 'view'"
>
    <!-- view mode -->
    <ng-container *ngIf="mode == 'view'">
        <mat-form-field>
            <mat-label *ngIf="title">{{ title }}</mat-label>
            <input matInput
                   type="text"
                   value="{{initialSelectedItem?.name}}"
                   placeholder="{{placeholder}}"
                   readonly
                   disabled/>
            <mat-hint [align]="'start'" style="opacity: 1">
                <span>{{ hint }}</span>
            </mat-hint>
        </mat-form-field>
    </ng-container>

    <!-- edit mode -->
    <ng-container *ngIf="mode === 'edit'">
        <mat-form-field>
            <mat-label *ngIf="title">{{ title }}</mat-label>
            <input #inputControl
                   matInput
                   type="text"
                   [formControl]="formControl"
                   [matAutocomplete]="inputAutocomplete"
                   (focus)="onFocus()"
                   (blur)="onBlur($event)"
                   placeholder="{{placeholder}}"/>
            <button class="suffix-action" [class.hidden]="!formControl.value" matSuffix mat-icon-button
                    aria-label="Clear" (click)="onClear()">
                <mat-icon>close</mat-icon>
            </button>
            <mat-autocomplete
                #inputAutocomplete="matAutocomplete"
                (blur)="onBlur($event)"
                [displayWith]="itemDisplay"
                (optionSelected)="onSelect($event)"
                (closed)="oncloseAutocomplete()"
                [panelWidth]="panelWidth"
            >
                <div *ngIf="resultList | async; let list">
                    <mat-option *ngFor="let item of list" [value]="item" [title]="item.name">
                        {{ itemDisplay(item) }}
                    </mat-option>
                    <mat-option *ngIf="list.length == 0"><i>{{ noResult }}</i></mat-option>
                </div>
            </mat-autocomplete>
            <mat-hint [align]="'start'" style="opacity: 1">
                <span>{{ hint }}</span>
            </mat-hint>
        </mat-form-field>
        <button
            *ngIf="mode == 'edit'"
            mat-icon-button
            class="action"
            color="primary"
            [disabled]="formControl.invalid || !formControl.value"
            (click)="onSave($event)"
        >
            <mat-icon>check_small</mat-icon>
        </button>
        <button
            *ngIf="mode == 'edit'"
            mat-icon-button
            class="action"
            color="accent"
            (click)="onCancel($event)"
        >
            <mat-icon>cancel</mat-icon>
        </button>
    </ng-container>
</div>
