<div
  class="eq-date-range"
  #eqDateRange
>
  <!--  (click)="onEdit()"-->
  <!--  (focusout)="onFocusOut($event)"-->
  <mat-form-field appearance="fill">
    <mat-label *ngIf="title">{{ title }}</mat-label>
    <mat-date-range-input [formGroup]="value" [rangePicker]="dateRangePicker">
      <input matStartDate formControlName="start">
      <input matEndDate formControlName="end">
    </mat-date-range-input>
    <mat-hint *ngIf="hint">{{ hint }}</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="dateRangePicker"></mat-datepicker-toggle>


    <mat-error *ngIf="value.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
    <mat-error *ngIf="value.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>


    <mat-date-range-picker #dateRangePicker></mat-date-range-picker>
  </mat-form-field>
</div>
