<mat-tab-group>
  <mat-tab label="eq-string">
    <div class="equal__layout">
      <div style="width: min-content; height: min-content; border: 1px solid aqua">

        <app-eq-string
          hint="mon hint"
          [defaultValue]="littleText"
          title="Mon titre"
          placeholder="mon placeholder"
          error="mon erreur"
        >
        </app-eq-string>

      </div>
      <br>
      <div style="width: min-content; height: min-content; border: 1px solid aqua">
        <app-eq-string
          hint="mon hint"
          [defaultValue]="littleText"
          title="Mon titre"
          placeholder="mon placeholder"
          error="mon erreur"
        >
        </app-eq-string>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="eq-m2o">
  </mat-tab>
  <mat-tab label="eq-data">
  </mat-tab>
  <mat-tab label="eq-data-range">
  </mat-tab>
  <mat-tab label="eq-data-time">
  </mat-tab>
</mat-tab-group>
