<br>
<div class="button__layout">
  <button
    mat-raised-button
    [color]="'primary'"
    (click)="disabled = !disabled"
  >
    property disabled = {{ disabled ? 'true' : 'false' }}
  </button>

  <button mat-raised-button color="accent" (click)="toggleMode()">
    mode = {{ mode }}
  </button>
</div>
<br>

<mat-tab-group [selectedIndex]="3">
  <mat-tab label="eq-string">
    <div class="equal__layout">
      <div style="width: 250px">
        <eq-string
          [hint]="'My hint'"
          [(value)]="littleText"
          title="My title"
          [disabled]="disabled"
          [mode]="mode"
          placeholder="My placeholder"
          error="My error"
          [required]="true"
          [nullable]="true"
          size="small"
        >
        </eq-string>
      </div>

      <div style="width: 250px">
        <eq-string
          [hint]="'My hint'"
          [(value)]="littleText"
          title="Mon titre"
          placeholder="mon placeholder"
          error="mon erreur"
          [required]="true"
          size="normal"
          [disabled]="disabled"
          [nullable]="true"
          [mode]="mode"
        >
        </eq-string>
      </div>

      <div style="width: 250px">
        <eq-string
          [hint]="'My hint'"
          [(value)]="littleText"
          title="Mon titre"
          placeholder="mon placeholder"
          error="mon erreur"
          [required]="true"
          size="large"
          [disabled]="disabled"
          [mode]="mode"
        >
        </eq-string>
      </div>

      <div style="width: 250px">
        <eq-string
          [hint]="'My hint'"
          [value]="littleText"
          (valueChange)="void()"
          title="Mon titre"
          placeholder="mon placeholder"
          error="mon erreur"
          [required]="false"
          size="extra"
          [disabled]="disabled"
          [mode]="mode"
        >
        </eq-string>
      </div>

    </div>
    <div>
      <div style="width: 750px">
        <eq-string
          [hint]="'My hint'"
          [value]="littleText"
          (valueChange)="void()"
          title="Mon titre"
          placeholder="mon placeholder"
          error="mon erreur"
          [required]="false"
          size="extra"
          [disabled]="disabled"
          [mode]="mode"
        >
        </eq-string>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="eq-text">
<!--    <div class="command-panel">-->
<!--      <button mat-raised-button color="accent" (click)="eqTextAutoGrow = !eqTextAutoGrow">-->
<!--        autoGrow = {{ eqTextAutoGrow }}-->
<!--      </button>-->

<!--      <div>-->
<!--        <mat-form-field>-->
<!--          <mat-label>minHeight</mat-label>-->
<!--          <input matInput type="number" [(ngModel)]="eqTextMinHeight">-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--      <div>-->
<!--        <button mat-raised-button color="accent"-->
<!--                (click)="eqTextMaxHeight === undefined ? eqTextMaxHeight = 100 : eqTextMaxHeight = undefined">-->
<!--          eqTextMaxHeight = {{ eqTextMaxHeight === undefined ? 'undefined' : eqTextMaxHeight }}-->
<!--        </button>-->

<!--        <mat-form-field *ngIf="eqTextMaxHeight !== undefined">-->
<!--          <mat-label>maxHeight</mat-label>-->
<!--          <input matInput type="number" [(ngModel)]="eqTextMaxHeight">-->
<!--        </mat-form-field>-->
<!--      </div>-->

<!--    </div>-->
<!--    <div class="equal__layout">-->
<!--      <div style="width: 250px;">-->
<!--        <eq-text-->
<!--          [hint]="'My hint'"-->
<!--          [(value)]="bigText"-->
<!--          title="My title"-->
<!--          [disabled]="disabled"-->
<!--          [mode]="mode"-->
<!--          placeholder="My placeholder"-->
<!--          error="My error"-->
<!--          [required]="true"-->
<!--          size="small"-->
<!--          [nullable]="true"-->
<!--          [hasError]="true"-->
<!--          [autoGrow]="eqTextAutoGrow"-->
<!--          [minHeight]="eqTextMinHeight"-->
<!--          [maxHeight]="eqTextMaxHeight"-->
<!--        ></eq-text>-->
<!--      </div>-->

<!--      &lt;!&ndash;      <div style="width: 180px;">&ndash;&gt;-->
<!--      &lt;!&ndash;        <eq-text&ndash;&gt;-->
<!--      &lt;!&ndash;          [hint]="'My hint'"&ndash;&gt;-->
<!--      &lt;!&ndash;          [(value)]="bigText"&ndash;&gt;-->
<!--      &lt;!&ndash;          title="My title"&ndash;&gt;-->
<!--      &lt;!&ndash;          [disabled]="disabled"&ndash;&gt;-->
<!--      &lt;!&ndash;          [mode]="mode"&ndash;&gt;-->
<!--      &lt;!&ndash;          placeholder="My placeholder"&ndash;&gt;-->
<!--      &lt;!&ndash;          error="My error"&ndash;&gt;-->
<!--      &lt;!&ndash;          [required]="true"&ndash;&gt;-->
<!--      &lt;!&ndash;          [nullable]="true"&ndash;&gt;-->
<!--      &lt;!&ndash;          size="normal"&ndash;&gt;-->
<!--      &lt;!&ndash;          [autoGrow]="eqTextAutoGrow"&ndash;&gt;-->
<!--      &lt;!&ndash;          [minHeight]="eqTextMinHeight"&ndash;&gt;-->
<!--      &lt;!&ndash;          [maxHeight]="eqTextMaxHeight"&ndash;&gt;-->
<!--      &lt;!&ndash;        ></eq-text>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->

<!--      &lt;!&ndash;      <div style="width: 180px;">&ndash;&gt;-->
<!--      &lt;!&ndash;        <eq-text&ndash;&gt;-->
<!--      &lt;!&ndash;          [hint]="'My hint'"&ndash;&gt;-->
<!--      &lt;!&ndash;          [(value)]="bigText"&ndash;&gt;-->
<!--      &lt;!&ndash;          title="My title"&ndash;&gt;-->
<!--      &lt;!&ndash;          [disabled]="disabled"&ndash;&gt;-->
<!--      &lt;!&ndash;          [mode]="mode"&ndash;&gt;-->
<!--      &lt;!&ndash;          placeholder="My placeholder"&ndash;&gt;-->
<!--      &lt;!&ndash;          error="My error"&ndash;&gt;-->
<!--      &lt;!&ndash;          [required]="true"&ndash;&gt;-->
<!--      &lt;!&ndash;          size="large"&ndash;&gt;-->
<!--      &lt;!&ndash;          [nullable]="true"&ndash;&gt;-->
<!--      &lt;!&ndash;          [autoGrow]="eqTextAutoGrow"&ndash;&gt;-->
<!--      &lt;!&ndash;          [minHeight]="eqTextMinHeight"&ndash;&gt;-->
<!--      &lt;!&ndash;          [maxHeight]="eqTextMaxHeight"&ndash;&gt;-->
<!--      &lt;!&ndash;        ></eq-text>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->

<!--      &lt;!&ndash;      <div style="width: 400px">&ndash;&gt;-->
<!--      &lt;!&ndash;        <eq-text&ndash;&gt;-->
<!--      &lt;!&ndash;          [hint]="'My hint'"&ndash;&gt;-->
<!--      &lt;!&ndash;          [(value)]="bigText"&ndash;&gt;-->
<!--      &lt;!&ndash;          title="My title"&ndash;&gt;-->
<!--      &lt;!&ndash;          [disabled]="disabled"&ndash;&gt;-->
<!--      &lt;!&ndash;          [mode]="mode"&ndash;&gt;-->
<!--      &lt;!&ndash;          placeholder="My placeholder"&ndash;&gt;-->
<!--      &lt;!&ndash;          error="My error"&ndash;&gt;-->
<!--      &lt;!&ndash;          [required]="true"&ndash;&gt;-->
<!--      &lt;!&ndash;          size="extra"&ndash;&gt;-->
<!--      &lt;!&ndash;          [nullable]="true"&ndash;&gt;-->
<!--      &lt;!&ndash;          [autoGrow]="eqTextAutoGrow"&ndash;&gt;-->
<!--      &lt;!&ndash;          [minHeight]="eqTextMinHeight"&ndash;&gt;-->
<!--      &lt;!&ndash;          [maxHeight]="eqTextMaxHeight"&ndash;&gt;-->
<!--      &lt;!&ndash;        ></eq-text>&ndash;&gt;-->
<!--      &lt;!&ndash;      </div>&ndash;&gt;-->
<!--    </div>-->
  </mat-tab>
  <mat-tab label="eq-m2o">
    <div class="equal__layout">
    </div>
  </mat-tab>
  <mat-tab label="eq-date">
    <code>Based on date: <strong>2024-01-17T12:38:46+0000</strong></code>
    <br>
    <code>Current date : <strong>{{ dateIso8601Utc0 }}</strong></code>

    <div class="equal__layout">
      <div>
        <eq-date
          [(value)]="dateIso8601Utc0"
          title="My title"
          placeholder="My placeholder"
          [nullable]="true"
          hint="My hint"
          error="My error"
          [mode]="mode"
          [disabled]="disabled"
        >
        </eq-date>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="eq-date-range">
    <div class="equal__layout">
      <div>
        <!--        <eq-date-range-->

        <!--        >-->
        <!--        </eq-date-range>-->
      </div>
    </div>
  </mat-tab>
  <mat-tab label="eq-date-time">
    <div class="equal__layout">
      <div>
        <!--        <eq-date-time-->

        <!--        >-->
        <!--        </eq-date-time>-->
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
