.equal__layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
  margin: 0 10% 10% 10%;

  > div {
    border: 1px solid aqua;
    width: min-content;
    height: min-content;
  }
}

.button__layout {
  display: flex;
  align-items: center;
  justify-content: center;

  > button {
    margin: 0 1rem;
  }
}

.command-panel {
  display: flex;
  width: 100%;
  padding: 1rem;
  justify-content: space-evenly;
  align-items: baseline;
  height: 100px;
}
