<br>
<div class="button__layout">
    <button
        mat-raised-button
        [color]="'primary'"
        (click)="disabled = !disabled"
    >
        property disabled = {{ disabled ? 'true' : 'false' }}
    </button>

    <button mat-raised-button color="accent" (click)="toggleMode()">
        mode = {{ mode }}
    </button>

    <button mat-raised-button color="primary" (click)="nullable = !nullable">
        nullable = {{ nullable }}
    </button>
</div>
<br>

<mat-tab-group [selectedIndex]="3">
    <mat-tab label="eq-string">
        <div class="equal__layout">
            <div style="width: 250px">
                <eq-string
                    [hint]="'My hint'"
                    [(value)]="littleText"
                    title="My title"
                    [disabled]="disabled"
                    [mode]="mode"
                    placeholder="My placeholder"
                    error="My error"
                    [required]="true"
                    [nullable]="true"
                    size="small"
                >
                </eq-string>
            </div>

            <div style="width: 250px">
                <eq-string
                    [hint]="'My hint'"
                    [(value)]="littleText"
                    title="Mon titre"
                    placeholder="mon placeholder"
                    error="mon erreur"
                    [required]="true"
                    size="normal"
                    [disabled]="disabled"
                    [nullable]="true"
                    [mode]="mode"
                >
                </eq-string>
            </div>

            <div style="width: 250px">
                <eq-string
                    [hint]="'My hint'"
                    [(value)]="littleText"
                    title="Mon titre"
                    placeholder="mon placeholder"
                    error="mon erreur"
                    [required]="true"
                    size="large"
                    [disabled]="disabled"
                    [mode]="mode"
                >
                </eq-string>
            </div>

            <div style="width: 250px">
                <eq-string
                    [hint]="'My hint'"
                    [value]="littleText"
                    (valueChange)="void()"
                    title="Mon titre"
                    placeholder="mon placeholder"
                    error="mon erreur"
                    [required]="false"
                    size="extra"
                    [disabled]="disabled"
                    [mode]="mode"
                >
                </eq-string>
            </div>

        </div>
        <div>
            <div style="width: 750px">
                <eq-string
                    [hint]="'My hint'"
                    [value]="littleText"
                    (valueChange)="void()"
                    title="Mon titre"
                    placeholder="mon placeholder"
                    error="mon erreur"
                    [required]="false"
                    size="extra"
                    [disabled]="disabled"
                    [mode]="mode"
                >
                </eq-string>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="eq-text">
        <div class="command-panel">
            <button mat-raised-button color="accent" (click)="eqTextAutoGrow = !eqTextAutoGrow">
                autoGrow = {{ eqTextAutoGrow }}
            </button>

            <div>
                <mat-form-field>
                    <mat-label>minHeight</mat-label>
                    <input matInput type="number" [(ngModel)]="eqTextMinHeight">
                </mat-form-field>
            </div>

            <div>
                <button mat-raised-button color="accent"
                        (click)="eqTextMaxHeight === undefined ? eqTextMaxHeight = 100 : eqTextMaxHeight = undefined">
                    eqTextMaxHeight = {{ eqTextMaxHeight === undefined ? 'undefined' : eqTextMaxHeight }}
                </button>

                <mat-form-field *ngIf="eqTextMaxHeight !== undefined">
                    <mat-label>maxHeight</mat-label>
                    <input matInput type="number" [(ngModel)]="eqTextMaxHeight">
                </mat-form-field>
            </div>

        </div>
        <div class="equal__layout">
            <div style="width: 250px;">
                <eq-text
                    [hint]="'My hint'"
                    [(value)]="bigText"
                    title="My title"
                    [disabled]="disabled"
                    [mode]="mode"
                    placeholder="My placeholder"
                    error="My error"
                    [required]="true"
                    size="small"
                    [nullable]="true"
                    [hasError]="true"
                    [autoGrow]="eqTextAutoGrow"
                    [minHeight]="eqTextMinHeight"
                    [maxHeight]="eqTextMaxHeight"
                ></eq-text>
            </div>

            <div style="width: 180px;">
                <eq-text
                    [hint]="'My hint'"
                    [(value)]="bigText"
                    title="My title"
                    [disabled]="disabled"
                    [mode]="mode"
                    placeholder="My placeholder"
                    error="My error"
                    [required]="true"
                    [nullable]="true"
                    size="normal"
                    [autoGrow]="eqTextAutoGrow"
                    [minHeight]="eqTextMinHeight"
                    [maxHeight]="eqTextMaxHeight"
                ></eq-text>
            </div>

            <div style="width: 180px;">
                <eq-text
                    [hint]="'My hint'"
                    [(value)]="bigText"
                    title="My title"
                    [disabled]="disabled"
                    [mode]="mode"
                    placeholder="My placeholder"
                    error="My error"
                    [required]="true"
                    size="large"
                    [nullable]="true"
                    [autoGrow]="eqTextAutoGrow"
                    [minHeight]="eqTextMinHeight"
                    [maxHeight]="eqTextMaxHeight"
                ></eq-text>
            </div>

            <div style="width: 400px">
                <eq-text
                    [hint]="'My hint'"
                    [(value)]="bigText"
                    title="My title"
                    [disabled]="disabled"
                    [mode]="mode"
                    placeholder="My placeholder"
                    error="My error"
                    [required]="true"
                    size="extra"
                    [nullable]="true"
                    [autoGrow]="eqTextAutoGrow"
                    [minHeight]="eqTextMinHeight"
                    [maxHeight]="eqTextMaxHeight"
                ></eq-text>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="eq-m2o">
        <div class="equal__layout">
        </div>
    </mat-tab>
    <mat-tab label="eq-date">
        <code>Based on date: <strong>2024-01-17T12:38:46+0000</strong></code>
        <br>
        <code>returned date : <strong>{{ dateIso8601Utc0 }}</strong></code>
        <br>
        <div class="command-panel">
            <mat-form-field appearance="fill">
                <mat-label>dateIso8601Utc0</mat-label>
                <input matInput type="string" [(ngModel)]="dateIso8601Utc0" (input)="refreshByBoolean()">
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Cars</mat-label>
                <mat-select [(value)]="dateTypeFormatSelected" required>
                    <mat-option
                        *ngFor="let dateFormat of dateTypeFormats"
                        [value]="dateFormat"
                    >
                        {{ dateFormat }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

        </div>
        <br>

        <div class="equal__layout">
            <div>
                <eq-date
                    *ngIf="reloadByBoolean"
                    [(value)]="dateIso8601Utc0"
                    title="My title"
                    placeholder="My placeholder"
                    [nullable]="true"
                    hint="My hint"
                    error="My error"
                    [mode]="mode"
                    [disabled]="disabled"
                    [usage]="dateTypeFormatSelected"
                >
                </eq-date>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="eq-date-range">
        <code>Based on date start: <strong>2024-01-17T12:38:46+0000</strong></code>
        <br>
        <code>Based on date end: <strong>2025-02-28T12:38:46+0000</strong></code>
        <br>
        <br>
        <code>returned date 1 : <strong>{{ dateIso8601Utc0 }}</strong></code>
        <br>
        <code>returned date 2 : <strong>{{ dateIso8601Utc0_2 }}</strong></code>
        <br>
        <br>
        <code>Default value: <strong>2024-01-17T12:38:46+0000 - 2025-02-28T12:38:46+0000</strong></code>
        <br>
        <code>Current value: <strong>{{ dateRange | json }}</strong></code>
        <br>
        <div class="command-panel">
            <mat-form-field appearance="fill">
                <mat-label>dateIso8601Utc0 <strong>date 1</strong></mat-label>
                <input matInput type="string" [(ngModel)]="dateIso8601Utc0" (input)="refreshByBoolean()">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>dateIso8601Utc0 <strong>date 2</strong></mat-label>
                <input matInput type="string" [(ngModel)]="dateIso8601Utc0_2" (input)="refreshByBoolean()">
            </mat-form-field>


            <mat-form-field appearance="fill">
                <mat-label>Cars</mat-label>
                <mat-select [(value)]="dateTypeFormatSelected" required>
                    <mat-option
                        *ngFor="let dateFormat of dateTypeFormats"
                        [value]="dateFormat"
                    >
                        {{ dateFormat }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <button mat-raised-button color="accent" (click)="refreshByBoolean()">Reload</button>

        </div>
        <br>

        <div class="equal__layout">
            <div>
                <eq-date-range
                    *ngIf="reloadByBoolean"
                    [(value)]="dateRange"
                    title="My title"
                    placeholder="My placeholder"
                    [nullable]="nullable"
                    hint="My hint"
                    error="My error"
                    [mode]="mode"
                    [disabled]="disabled"
                    [usage]="dateTypeFormatSelected"
                >
                </eq-date-range>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="eq-date-time">
        <div class="equal__layout">
            <div>
                <!--        <eq-date-time-->

                <!--        >-->
                <!--        </eq-date-time>-->
            </div>
        </div>
    </mat-tab>
</mat-tab-group>
